
.ItemContainer{
    margin: 20px auto;
    width: 60%;
    display: flex;
}

.img{
    width: 35vw;
}

.Detail{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.DetailButton{
    text-decoration: none;
    background-color: #000;
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    padding: 8px;
    border: none;
    cursor: pointer;
}

.itemButton:hover{
    background-color: #212121;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}