* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navBar {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #0b0136;
}

.logo {
  width: 100px;
  cursor: pointer;
  transition: transform 0.5s ease;
}
.logo:hover {
  transform: scale(1.05);
}

.navLinks {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.links {
  font-size: 20px;
  text-decoration: none;
  color: #aeaeae;
}
.links:hover {
  transition: all 0.5s ease;
  color: #d7d6d6;
}
